
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>ARNZ™ REST API's</title>
    <meta name="description" content="Halo om, disini gada apa-apa om">
    <meta name="keywords" content="Waduh masih ngeyel">
    <meta name="author" content="Ari susanto">
    <link rel="icon" type="image/png" sizes="16x16" href="https://telegra.ph/file/3b27c04b1c1fa2962f5cf.jpg">

    <meta property="og:title" content="ARNZ™ REST API's" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="ARNZ™ REST API's" />
    <meta property="og:url" content="https://arnz-api.herokuapp.com" />
    <meta property="og:image" content="https://telegra.ph/file/3b27c04b1c1fa2962f5cf.jpg" />
    <meta property="og:image:alt" content="ARNZ™ REST API's" />

    <meta property="og:url" content="https://arnz-api.herokuapp.com" />
    <meta property="og:title" content="ARNZ™ REST API's" />
    <meta property="og:description" content="Jelek om rest apinya sumpah ga boong :(." />
    <meta property="og:image" content="https://telegra.ph/file/3b27c04b1c1fa2962f5cf.jpg" />

    <link href="https://sosmeeed.herokuapp.com/style/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://sosmeeed.herokuapp.com/style/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <link href="https://sosmeeed.herokuapp.com/style/css/style.css" rel="stylesheet">
    <link href="https://sosmeeed.herokuapp.com/style/css/colors/megna-dark.css" id="theme" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

    <meta name="google-site-verification" content="e1dihKk8pjtLfRr1nmksU17bpx6R3kYaPKjGmy74n1s" />
    <script data-ad-client="ca-pub-1020574762848905" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta name="propeller" content="12ba59f4e489fb8c7fe559feb3e6d8f2">
</head>

<body class="fix-header">
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">
                    <a href="https://arnz-api.herokuapp.com">
                        <img src="https://telegra.ph/file/3b27c04b1c1fa2962f5cf.jpg" width="50" alt="home" class="light-logo" />
                        <span class="hidden-xs">
                            <img src="https://telegra.ph/file/3b27c04b1c1fa2962f5cf.jpg" height="60" alt="home" class="light-logo" />
                        </span>
                    </a>
                </div>
                <ul class="nav navbar-top-links navbar-left">
                    <li><a href="javascript:void(0)" class="open-close waves-effect waves-light"><i class="fa fa-tasks"></i></a></li>
                </ul>
            </div>
        </nav>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class=" fa fa-tasks open-close"><i></i></span> <span class="hide-menu">List ARNZ™ API's</span></h3> </div>
                <ul class="nav" id="side-menu">
                    <li> <a href="https://arnz-api.herokuapp.com">&nbsp;<i class="fa fa-home"></i> <span class="hide-menu">&nbsp; Home</span></a>
                    </li>
                    <li>
                        <a href="#" class="waves-effect">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            <span class="hide-menu">
                                Downloader api<span class="fa arrow"></span>
                            </span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/api/joox/search?q=fungi look alive">
                                    <span class="hide-menu">Joox Search</span>
								</a>
							</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="waves-effect">
                            <i class="fa fa-window-maximize" aria-hidden="true"></i>
                            <span class="hide-menu">
                                Media Api<span class="fa arrow"></span>
                            </span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/api/github/stalk?username=LoliKillers">
                                    <span class="hide-menu">Github Stalk</span>
								</a>
							</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="waves-effect">
                            <i class="fa fa-child" aria-hidden="true"></i>
                            <span class="hide-menu">
                                Anime Api<span class="fa arrow"></span>
                            </span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/api/anime/random">
                                    <span class="hide-menu">Random Anime</span>
								</a>
							</li>
							<li>
                                <a href="/api/anime/search?q=One piece">
                                    <span class="hide-menu">Anime Search</span>
								</a>
							</li>
                        </ul>
                    </li>
                     <li>
                     	<li>
                        <a href="#" class="waves-effect">
                            <i class="fa fa-spinner" aria-hidden="true"></i>
                            <span class="hide-menu">
                               Other Api<span class="fa arrow"></span>
                            </span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/api/dns/lookup?domain=arnz-api-production.up.railway.app">
                                    <span class="hide-menu">DNS Lookup</span>
								</a>
							</li>
							<li>
                                <a href="/api/html/viewer?url=https://lolikiller.herokuapp.com/api">
                                    <span class="hide-menu">HTML Viewer</span>
								</a>
							</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="waves-effect">
                            <i class="fa fa-picture-o" aria-hidden="true"></i>
                            <span class="hide-menu">
                                Photo Oxy <span class="fa arrow"></span>
                            </span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/api/photooxy/petterns?text=Loli Killers">
                                    <span class="hide-menu">Petterns</span>
								</a>
							</li>
							
                        </ul>
                    </li>
                     <li>
                        <a href="#" class="waves-effect">
                            <i class="fa fa-info" aria-hidden="true"></i>
                            <span class="hide-menu">
                                Info api<span class="fa arrow"></span>
                            </span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/api/wikipedia?q=termux">
                                    <span class="hide-menu">Wikipedia</span>
								</a>
							</li>
							<li>
                                <a href="/api/infocuaca?provinsi=jawa timur">
                                    <span class="hide-menu">Info Cuaca</span>
								</a>
							</li>
							<li>
                                <a href="/api/infogempa">
                                    <span class="hide-menu">Info Gempa</span>
								</a>
							</li>
                        </ul>
                    </li>
                                        <li class="devider"></li>
                    <li><a target="_blank" class="waves-effect"><i class="far fa-dot-circle text-warning fa-fw"></i> <span class="hide-menu">Contact me</span></a></li>
                          <li class="nav-item">
                          	</li>
      <li class="nav-item">
          
            <a class="nav-link collapsed" href="https://wa.me/6285852203076">
            <i class="fab fa-fw fa-whatsapp"></i>
                    <span>WhatsApp</span>
            </a>
      </li>
      <li class="nav-item">
            <a class="nav-link collapsed" href="https://github.com/LoliKillers">
            <i class="fab fa-fw fa-github"></i>
                    <span>Github</span>
            </a>
      </li>
      <li class="nav-item">
            <a class="nav-link collapsed" href="https://instagram.com/ariasu_62">
            <i class="fab fa-fw fa-instagram"></i>
                    <span>Instagram</span>
            </a>
      </li>

                </ul>
            </div>
        </div>
        <div id="page-wrapper">
            <div class="container-fluid p-t-30 p-l-30 p-b-30">
                <div class="row">
    <div class="col-md-8">
        <h1>ARNZ™ FREE REST API's WEBSITE</h1>
        <p><strong>ARNZ™</strong> Ini test api fiturnya gada yg keren keren om, smuanya jelek :(</p>
        <p>Jadi gini om, kalo mau make rest api <strong>ARNZ™</strong> ya syukur, tapi kalo kaga mau ya gapapa, tapi ga usah ngehina om :(</p>
    </div>
</div>
            </div>
            <footer class="footer text-center"> 2021 & copy; ARNZ™ brought to you by <a href="https://wa.me/6285852203076" target="_blank">Ari</a>.</footer>
        </div>
    </div>
    <script src="https://sosmeeed.herokuapp.com/style/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="https://sosmeeed.herokuapp.com/style/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://sosmeeed.herokuapp.com/style/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <script src="https://sosmeeed.herokuapp.com/style/js/jquery.slimscroll.js"></script>
    <script src="https://sosmeeed.herokuapp.com/style/js/waves.js"></script>
    <script src="https://sosmeeed.herokuapp.com/style/js/custom.min.js"></script>
    <script>(function(s,u,z,p){s.src=u,s.setAttribute('data-zone',z),p.appendChild(s);})(document.createElement('script'),'https://iclickcdn.com/tag.min.js',3717650,document.body||document.documentElement)</script>
</body>

</html>
