<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="/">
  <meta name="author" content="/">
    <title>Benny - REST APIs</title>
	<meta property="og:image" name="og:image" content="https://i.ibb.co/2Wy9mCR/13.png">
    <meta property="og:site_name" name="og:site_name" content="Benny APIs">
    <meta property="og:title" name="og:title" content="Benny - REST APIs">
    <meta property="og:image" name="og:image" content="https://i.ibb.co/2Wy9mCR/13.png">
    <meta property="og:description" name="og:description" content="A REST APIs website that provides a wide variety of features for developers.">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/ruang-admin.min.css" rel="stylesheet">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://i.ibb.co/2Wy9mCR/13.png">
</head>

<body id="page-top">
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
        	<img src="https://i.ibb.co/2Wy9mCR/13.png">
        </div>
        <div class="sidebar-brand-text mx-3">Benny  API</div>
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-code"></i>
          <span>Beranda</span></a>
      </li>
      <hr class="sidebar-divider">
      <div class="sidebar-heading">
        API Features
      </div>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/" data-toggle="collapse" data-target="#collapseBootstrap"
          aria-expanded="true" aria-controls="collapseBootstrap">
          <i class="fas fa-fw fa-arrow-down"></i>
          <span>Social Media API</span>
        </a>
        <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Media Features</h6>
            <a class="collapse-item" href="api/fbdown/?url=MASUKIN_URL">Facebook Downloader</a>
            <a class="collapse-item" href="api/tiktod/?url=https://vm.tiktok.com/ZSJyWUKQq/">Tiktok Downloader</a>
            <a class="collapse-item" href="api/ytsearch?q=Banyu surgo">YouTube Search</a>
            <a class="collapse-item" href="api/ytmp3?url=https://www.youtube.com/watch?v=yEQ9z58UnJM">YouTube MP3</a>
            <a class="collapse-item" href="api/ytmp4?url=https://www.youtube.com/watch?v=yEQ9z58UnJM">YouTube MP4</a>
            <a class="collapse-item" href="api/playmp3?q=Banyu surgo">YouTube Play MP3</a>
            <a class="collapse-item" href="api/playmp4?q=Banyu surgo">YouTube Play MP4</a>
            <a class="collapse-item" href="api/ytstalk?channel=BhMods%20Official%20YT">YouTube Stalk</a>
            <a class="collapse-item" href="api/igdl/?url=https://www.instagram.com/p/CO42r51Jvl4/?igshid=1jtrsc79pswzc">IG Downloader</a>
            <a class="collapse-item" href="api/tiktod/stalk/?username=MASUKIN_USERNAME">Tiktok Stalk</a>
            <a class="collapse-item" href="api/insta/stalk/?username=MASUKIN_USERNAME">Instagram Stalk</a>
            </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/" data-toggle="collapse" data-target="#collapseSound"
          aria-expanded="true" aria-controls="collapseSound">
          <i class="fas fa-fw fa-arrow-down"></i>
          <span>Sound Changer</span>
        </a>
        <div id="collapseSound" class="collapse" aria-labelledby="headingSound" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Sound Changer</h6>
            <a class="collapse-item" href="api/triggersound?url=https://api-self.herokuapp.com/media/example.mp3">Triggered Sound</a>
              </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/" data-toggle="collapse" data-target="#collapseIslamic" aria-expanded="true"
          aria-controls="collapseIslamic">
          <i class="fas fa-fw fa-table"></i>
          <span>Islamic Features</span>
        </a>
        <div id="collapseIslamic" class="collapse" aria-labelledby="headingIslamic" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Islamic  API</h6>
            <a class="collapse-item" href="api/hadits?kitab=bukhari&nomor=52">Hadits Shahih</a>
            <a class="collapse-item" href="api/quran?surah=1&ayat=2">Al Qur'an</a>
            <a class="collapse-item" href="api/muslim/tahlil">Doa Tahlil</a>
            <a class="collapse-item" href="api/muslim/wirid">Doa Wirid</a>
            <a class="collapse-item" href="api/muslim/asmaulhusna">Asmaul Husna</a>
            <a class="collapse-item" href="api/muslim/doaharian">Doa Harian</a>
            <a class="collapse-item" href="api/muslim/listsurah">List Surah</a>
            <a class="collapse-item" href="api/muslim/ayatkursi">Ayat Kursi</a>
            <a class="collapse-item" href="api/kisahnabi?nabi=muhammad">Kisah Nabi</a>
            <a class="collapse-item" href="api/muslim/niatshalat">Niat Shalat</a>
            <a class="collapse-item" href="api/muslim/bacaanshalat">Bacaan Shalat</a>
            <a class="collapse-item" href="api/jadwalshalat?kota=jakartautara">Jadwal Shalat</a>
          </div>
        </div>
      </li>
       <li class="nav-item">
        <a class="nav-link collapsed" href="/" data-toggle="collapse" data-target="#collapseKodepos" aria-expanded="true"
          aria-controls="collapseKodepos">
          <i class="fas fa-fw fa-search"></i>
          <span>Images API</span>
        </a>
        <div id="collapseKodepos" class="collapse" aria-labelledby="headingKodepos" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Images API</h6>
            <a class="collapse-item" href="api/randomwallpaper">Random Wallpaper</a>
            <a class="collapse-item" href="api/wallpaper/teknologi">Wallpaper Teknologi</a>
            <a class="collapse-item" href="api/wallpaper/programming">Wallpaper Programming</a>
            <a class="collapse-item" href="api/wallpaper/cyberspace">Wallpaper CyberSpace</a>
            <a class="collapse-item" href="api/wallpaper/muslim">Wallpaper Muslim</a>
            <a class="collapse-item" href="api/wallpaper/pegunungan">Wallpaper Mountain View</a>
            <a class="collapse-item" href="api/wallpaper/code">Wallpaper Code</a>
            <a class="collapse-item" href="api/wallpaper/neon">Wallpaper Neon</a>
            <a class="collapse-item" href="api/wallpaper/hack">Wallpaper Hacker</a>
            <a class="collapse-item" href="api/wallpaper/pubg">Wallpaper PUBG</a>
            <a class="collapse-item" href="api/wallpaper/ml">Wallpaper ML</a>
            <a class="collapse-item" href="api/searchwallpaper?q=gunung">Wallpaper HD</a>
            </div>
            </div>
            </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/" data-toggle="collapse" data-target="#collapseGithub"
          aria-expanded="true" aria-controls="collapseGithub">
          <i class="fas fa-fw fa-book"></i>
          <span>Random API</span>
        </a>
        <div id="collapseGithub" class="collapse" aria-labelledby="headingGithub" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Random API</h6>
            <a class="collapse-item" href="api/randomquote">Quotes</a>
            <a class="collapse-item" href="api/randomquote/muslim">Quotes Islami</a>
            <a class="collapse-item" href="api/quotes/kanye">Quotes Kanye</a>
            <a class="collapse-item" href="api/animequote">Quotes Anime</a>
            <a class="collapse-item" href="api/bijak">Kata Bijak</a>
            <a class="collapse-item" href="api/bucin">Kata Bucin</a>
            <a class="collapse-item" href="api/pantun">Pantun</a>
            <a class="collapse-item" href="api/fakta">Fakta Unik</a>
            <a class="collapse-item" href="api/cersex">Cerita Sex</a>
            <a class="collapse-item" href="api/cerpen">Cerita Pendek</a>
            <a class="collapse-item" href="api/random/asmaulhusna">Asmaul Husna</a>
            <a class="collapse-item" href="api/random/meme">Meme</a>
            <a class="collapse-item" href="api/random/wallpaper">Wallpaper</a>
          </div>
        </div>
      </li>
	  <li class="nav-item">
        <a class="nav-link collapsed" href="/" data-toggle="collapse" data-target="#collapsephotofunia" aria-expanded="true"
          aria-controls="collapsephotofunia">
          <i class="fas fa-fw fa-table"></i>
          <span>Photofunia</span>
        </a>
        <div id="collapsephotofunia" class="collapse" aria-labelledby="headingphotofunia" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Photofunia API</h6>
            <a class="collapse-item" href="api/photofunia/calendar?img_url=https://api-self.herokuapp.com/media/example.jpg">Calendar</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/" data-toggle="collapse" data-target="#collapseuploader" aria-expanded="true"
          aria-controls="collapseuploader">
          <i class="fas fa-fw fa-table"></i>
          <span>Uploader API</span>
        </a>
        <div id="collapseuploader" class="collapse" aria-labelledby="headinguploader" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Uploader API</h6>
            <a class="collapse-item" href="api/memegen1?teks=halo&img_url=https://api-self.herokuapp.com/media/example.jpg">Meme Generator 1</a>
            <a class="collapse-item" href="api/memegen2?teks1=halo&teks2=hai&img_url=https://api-self.herokuapp.com/media/example.jpg">Meme Generator 2</a>
            <a class="collapse-item" href="api/memegen3?teks=halo&img_url=https://api-self.herokuapp.com/media/example.jpg">Meme Generator 3</a>
            <a class="collapse-item" href="api/imageflip?url=https://api-self.herokuapp.com/media/example.jpg">Image Flip</a>
            <a class="collapse-item" href="api/imageflip2?url=https://api-self.herokuapp.com/media/example.jpg">Image Flip 2</a>
            <a class="collapse-item" href="api/imageflip3?url=https://api-self.herokuapp.com/media/example.jpg">Image Flip 3</a>
            <a class="collapse-item" href="api/resizeimg?img_url=https://api-self.herokuapp.com./media/example.png&tinggi=500&lebar=500">Resize Image</a>
            <a class="collapse-item" href="upload.php">File To Url</a>
            <a class="collapse-item" href="api/webp2mp4?img_url=https://storage.naufalhoster.xyz/uploads/1617780416978_4145079023081564667783564.webp">Webp To MP4</a>
            <a class="collapse-item" href="api/photooxy/camera-photo?img_url=https://api-self.herokuapp.com/media/example.jpg">Camera Photo</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/" data-toggle="collapse" data-target="#collapseText" aria-expanded="true"
          aria-controls="collapseText">
          <i class="fas fa-fw fa-table"></i>
          <span>Photooxy API</span>
        </a>
        <div id="collapseText" class="collapse" aria-labelledby="headingText" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Photooxy API</h6>
            <a class="collapse-item" href="api/carbon?teks=Benny Gamntenk">Carbon</a>
            <a class="collapse-item" href="api/textmaker?text=halo&text2=hai&theme=glitch">Glitch</a>
            <a class="collapse-item" href="api/textmaker?text=halo&theme=burn-paper">Burn Paper</a>
            <a class="collapse-item" href="api/textmaker?text=halo&text2=hai&text3=gwganteng&theme=google-suggestion">Google Suggestion</a>
            <a class="collapse-item" href="api/textmaker/game?text=halo&text2=hai&theme=pubg">PUBG</a>
            <a class="collapse-item" href="api/textmaker/game?text=halo&text2=hai&theme=battlefield">BattleField</a>
            <a class="collapse-item" href="api/textmaker/senja?text=Benny&theme=coffee-cup">Coffee Cup</a>
            <a class="collapse-item" href="api/textmaker/senja?text=Benny&theme=coffee-cup2">Coffee Cup 2</a>
            <a class="collapse-item" href="api/textmaker/metallic?text=Benny&theme=neon">Neon</a>
            <a class="collapse-item" href="api/textmaker?text=Benny&theme=dark-neon">Dark Neon</a>
            <a class="collapse-item" href="api/textmaker?text=Benny&theme=lope-kayu">Kertas Lope Kayu</a>
            <a class="collapse-item" href="api/textmaker?text=Benny&theme=love-message">Love Text</a>
            <a class="collapse-item" href="api/textmaker?text=Benny&theme=undergrass">Text On Under Grass</a>
            <a class="collapse-item" href="api/textmaker?text=Benny&theme=shadow-text">Shadow Text</a>
            <a class="collapse-item" href="api/textmaker/metallic?text=benny&theme=glow">Glow</a>
            <a class="collapse-item" href="api/textmaker?text=benny&theme=naruto">Naruto</a>
            <a class="collapse-item" href="api/textmaker/alam?text=benny&theme=summer">Summer</a>
            <a class="collapse-item" href="api/textmaker/alam?text=benny&theme=flower">Flower</a>
          </div>
        </div>
      </li>
	  <li class="nav-item">
        <a class="nav-link collapsed" href="/" data-toggle="collapse" data-target="#collapsetextpro" aria-expanded="true"
          aria-controls="collapsetextpro">
          <i class="fas fa-fw fa-table"></i>
          <span>Textpro API</span>
        </a>
        <div id="collapsetextpro" class="collapse" aria-labelledby="headingtextpro" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Textpro API</h6>
            <a class="collapse-item" href="api/textpro/bokeh?teks=halo">Bokeh Text</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/" data-toggle="collapse" data-target="#collapseAnime" aria-expanded="true"
          aria-controls="collapseAnime">
          <i class="fas fa-fw fa-bullseye"></i>
          <span>Anime/Manga API</span>
        </a>
        <div id="collapseAnime" class="collapse" aria-labelledby="headingAnime" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Anime/Manga Features</h6>
            <a class="collapse-item" href="api/kusonime?query=planetarian">Kusonime</a>
            <a class="collapse-item" href="api/manga?search=kimetsu no yaiba">Manga</a>
            <a class="collapse-item" href="api/waifu">Random Waifu</a>
            
          </div>
        </div>
      </li>
      <li class="nav-item">
                <a class="nav-link collapsed" href="/" data-toggle="collapse" data-target="#collapseGames" aria-expanded="true" aria-controls="collapseForm">
                    <i class="app-menu__icon fa fa-laptop"></i>
                    <span>Games API</span>
                </a>
                <div id="collapseGames" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Games Features</h6>
            <a class="collapse-item" href="api/kuis/caklontong">Cak Lontong</a>
            <a class="collapse-item" href="api/kuis/tebakgambar">Tebak Gambar</a>
            </div>
            </div>
        </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/" data-toggle="collapse" data-target="#collapseother" aria-expanded="true"
          aria-controls="collapseother">
          <i class="fab fa-fw fa-wpforms"></i>
          <span>Other API</span>
        </a>
        <div id="collapseother" class="collapse" aria-labelledby="headingother" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Other Menu</h6>
			<a class="collapse-item" href="api/urltoimage?url=https://api-self.herokuapp.com/media/example.png">Url To Image</a>
			<a class="collapse-item" href="api/towebp?url=https://api-self.herokuapp.com/media/example.png">To WEBP</a>
			<a class="collapse-item" href="api/gsmarena?query=Iphone X">GSM Arena</a>
			<a class="collapse-item" href="api/shit?url=https://api-self.herokuapp.com/media/example.jpg">Shit</a>
			<a class="collapse-item" href="api/burn?url=https://api-self.herokuapp.com/media/example.jpg&teks=Benny Hidayat">Burn</a>
			<a class="collapse-item" href="api/blur?url=https://api-self.herokuapp.com/media/example.jpg">Blur</a>
			<a class="collapse-item" href="api/greyscale?url=https://api-self.herokuapp.com/media/example.jpg">Greyscale</a>
			<a class="collapse-item" href="api/pixelate?url=https://api-self.herokuapp.com/media/example.jpg">Pixelate</a>
			<a class="collapse-item" href="api/citacita">Cita Cita</a>
			<a class="collapse-item" href="api/htmlscrapper?url=https://google.co.id">HTML Scrapper</a>
			<a class="collapse-item" href="api/telestick?url=https://t.me/addstickers/shitpostbikinibottom">Telegram Sticker</a>
			<a class="collapse-item" href="api/pastegg?teks=Jawa kuli&nama=Benny%20Hidayat">PasteGG Scrapper</a>
			<a class="collapse-item" href="api/gerakinvideo?url=https://api-self.herokuapp.com/media/example.jpg">Gerakin Video</a>
			<a class="collapse-item" href="api/removebg?url=https://api-self.herokuapp.com/media/example.jpg">Remove Background</a>
			<a class="collapse-item" href="api/trash?url=https://api-self.herokuapp.com/media/example.jpg">Trash Maker</a>
			<a class="collapse-item" href="api/beautiful?url=https://api-self.herokuapp.com/media/example.jpg">Beautiful Maker</a>
			<a class="collapse-item" href="api/blur?url=https://api-self.herokuapp.com/media/example.jpg">Blur Maker</a>
			<a class="collapse-item" href="api/jail?url=https://api-self.herokuapp.com/media/example.jpg">Penjara Maker</a>
			<a class="collapse-item" href="api/delete?url=https://api-self.herokuapp.com/media/example.jpg">FacePalm</a>
			<a class="collapse-item" href="api/delete?url=https://api-self.herokuapp.com/media/example.jpg">Delete Maker</a>
			<a class="collapse-item" href="api/wanted?url=https://api-self.herokuapp.com/media/example.jpg">Wanted Maker</a>
			<a class="collapse-item" href="api/rip?url=https://api-self.herokuapp.com/media/example.jpg">Rip Maker</a>
			<a class="collapse-item" href="api/gay?url=https://api-self.herokuapp.com/media/example.jpg">Gay Maker</a>
			<a class="collapse-item" href="api/triggered?url=https://api-self.herokuapp.com/media/example.jpg">Triggered</a>
			<a class="collapse-item" href="api/triggeredjson?url=https://api-self.herokuapp.com/media/example.jpg">Triggered JSON</a>
			<a class="collapse-item" href="api/invert?url=https://api-self.herokuapp.com/media/example.jpg">Invert</a>
			<a class="collapse-item" href="api/sepia?url=https://api-self.herokuapp.com/media/example.jpg">Sepia</a>
			<a class="collapse-item" href="api/hitungmundur?tanggal=21&bulan=11&tahun=2021">Hitung Mundur Hari</a>
			<a class="collapse-item" href="api/ytcomment?avatar=https://api-self.herokuapp.com/media/example.jpg&nama=Benny Hidayat&teks=Subscribe BhMods Official YT">YouTube Comment</a>
			<a class="collapse-item" href="api/promote?name=Benny&avatar=https://api-self.herokuapp.com/media/example.jpg&background=https://i.ibb.co/2Wy9mCR/13.png&gcname=HerokuApp">Promote Detector</a>
            <a class="collapse-item" href="api/demote?name=Benny&avatar=https://api-self.herokuapp.com/media/example.jpg&background=https://i.ibb.co/2Wy9mCR/13.png&gcname=HerokuApp">Demote Detector</a>
            <a class="collapse-item" href="api/resepmakanan?makanan=telur">Resep Makanan</a>
            <a class="collapse-item" href="api/mediafire?url=https://www.mediafire.com/file/izir9ngvnnkn4nd/CASTLE-ROBOX-V14.7z/file">Mediafire</a>
            <a class="collapse-item" href="api/jagokata?kata=ganteng">Jago Kata</a>
            <a class="collapse-item" href="api/hidetag?teks=Woi&nomor=6289636006352@s.whatsapp.net">Hide Tag</a>
            <a class="collapse-item" href="api/besarkecil?teks=benny%20ganteng%20idaman">Besar Kecil</a>
            <a class="collapse-item" href="api/jumlahhuruf?huruf=BennyGanteng">Hitung Jumlah Huruf</a>
            <a class="collapse-item" href="api/jumlahangka?angka=1234567890129362537">Hitung Jumlah Angka</a>
            <a class="collapse-item" href="api/emojitopng?emoji=🥰">Emoji To PNG</a>
            <a class="collapse-item" href="api/artinama?nama=Benny">Arti Nama</a>
            <a class="collapse-item" href="api/artimimpi?mimpi=Kecelakaan">Arti Mimpi</a>
            <a class="collapse-item" href="api/imagesearch?q=Doge">Search Image</a>
            <a class="collapse-item" href="api/attp?teks=Benny">ATTP</a>
            <a class="collapse-item" href="api/texttopng?teks=Benny">TTP</a>
            <a class="collapse-item" href="api/texttopng2?teks=Benny">TTP 2</a>
            <a class="collapse-item" href="api/texttopng3?teks=Benny">TTP 3</a>
            <a class="collapse-item" href="api/texttopng4?teks=Benny">TTP 4</a>
            <a class="collapse-item" href="api/ttpcolor?teks=Benny&color=magenta">TTP Color</a>
            <a class="collapse-item" href="api/canvaswel?name=Benny&img_url=https://i.ibb.co/2Wy9mCR/13.png&gcname=HerokuApp&jumlahmem=1">Welcomer</a>
            <a class="collapse-item" href="api/canvaswelbg?name=Benny&avatar=https://api-self.herokuapp.com/media/example.jpg&background=https://i.ibb.co/2Wy9mCR/13.png&gcname=HerokuApp&jumlahmem=1">Welcomer With Background</a>
            <a class="collapse-item" href="api/canvasbye?name=Benny&img_url=https://i.ibb.co/2Wy9mCR/13.png&gcname=HerokuApp&jumlahmem=1">Good Bye</a>
            <a class="collapse-item" href="api/canvasbyebg?name=Benny&avatar=https://api-self.herokuapp.com/media/example.jpg&background=https://i.ibb.co/2Wy9mCR/13.png&gcname=HerokuApp&jumlahmem=1">Good Bye With Background</a>
            <a class="collapse-item" href="api/nulis?text=Benny">Nulis Buku 1</a>
            <a class="collapse-item" href="api/nulis2?text=Benny">Nulis Buku 2</a>
            <a class="collapse-item" href="api/brainly?pertanyaan=Kapan%20Benny%20Lahir">Brainly</a>
            <a class="collapse-item" href="api/simi-id?q=Benny">SimSimi ID</a>
            <a class="collapse-item" href="api/simi-en?q=Benny">SimSimi EN</a>
            <a class="collapse-item" href="api/simi-pt?q=Benny">SimSimi PT</a>
            <a class="collapse-item" href="api/simi?q=Benny&language=en">SimSimi All Languages</a>
            <a class="collapse-item" href="api/infonpm?query=Benny-api&hostname=Benny">Info NPM</a>
            <a class="collapse-item" href="api/infogempa">Info Gempa</a>
            <a class="collapse-item" href="api/kapital?teks=aku%20ganteng">Kapital Teks</a>
            <a class="collapse-item" href="api/halah?teks=aku%20ganteng">Halah Teks</a>
            <a class="collapse-item" href="api/halah?teks=aku%20ganteng">Hilih Teks</a>
            <a class="collapse-item" href="api/halah?teks=aku%20ganteng">Huluh Teks</a>
            <a class="collapse-item" href="api/halah?teks=aku%20ganteng">Heleh Teks</a>
            <a class="collapse-item" href="api/halah?teks=aku%20ganteng">Holoh Teks</a>
            <a class="collapse-item" href="api/cuaca?kabupaten=kab bungo">Info Cuaca</a>
            <a class="collapse-item" href="api/bilangangka?angka=999999">Bilang Angka</a>
            <a class="collapse-item" href="api/repeater?teks=benny&jumlah=50">Text Repeater</a>
            <a class="collapse-item" href="api/translate?teks=shut%20up&to=id">Translate</a>
            <a class="collapse-item" href="api/balikhuruf?huruf=woi">Balik Huruf</a>
            <a class="collapse-item" href="api/balikangka?angka=1214093510">Balik Angka</a>
            <a class="collapse-item" href="api/readmore?teks=woi">Read More</a>
            <a class="collapse-item" href="api/covidindo">Covid Indo</a>
            <a class="collapse-item" href="api/covidworld">Covid World</a>
            <a class="collapse-item" href="api/fancytext?teks=Beban">Fancy Text</a>
            <a class="collapse-item" href="api/short/tiny?url=google.com">Short Link</a>
            <a class="collapse-item" href="api/pastebin?teks=Hello%20Gays&code=javascript">Pastebin</a>
            <a class="collapse-item" href="api/wikipedia?search=jembatan">Wikipedia</a>
            <a class="collapse-item" href="api/drakorasia?search=tale">Drakor Asia</a>
            <a class="collapse-item" href="api/fakedata?country=en">Fake Data</a>
            <a class="collapse-item" href="api/hilih?kata=aku kan ganteng banget">Kata Hilih</a>
            <a class="collapse-item" href="api/liriklagu?lagu=sayang">Lirik Lagu</a>
            <a class="collapse-item" href="api/chordlagu?lagu=sayang">Chord Lagu</a>
            <a class="collapse-item" href="api/kbbi?kata=pohon">KBBI</a>
            <a class="collapse-item" href="api/kodepos?kota=jakarta">Kode Pos</a>
            <a class="collapse-item" href="api/translate?kata=hi">Translate</a>
            <a class="collapse-item" href="api/gabut">Gabut</a>
          </div>
        </div>
      </li>
	  <li class="nav-item">
	  <a class="nav-link collapsed" href="profile.html">Contact Me</a>
      </li>
      <hr class="sidebar-divider">
      <div class="version" id="version-ruangadmin"></div>
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              
              </a>
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-1 small" placeholder="Search for..."
                      aria-label="Search" aria-describedby="basic-addon2" style="border-color: #3f51b5;">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="/">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 12, 2019</div>
                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="/">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 7, 2019</div>
                    $290.29 has been deposited into your account!
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="/">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 2, 2019</div>
                    Spending Alert: We've noticed unusually high spending for your account.
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="/">Show All Alerts</a>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="/" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="/" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-tasks fa-fw"></i>
                <span class="badge badge-success badge-counter">1</span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Informations 
                </h6>
                <a class="dropdown-item align-items-center" href="/">
                  <div class="mb-3">
                    <div class="small text-gray-500">JavaScript
                      <div class="small float-right"><b>70%</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item align-items-center" href="/">
                  <div class="mb-3">
                    <div class="small text-gray-500">Python
                      <div class="small float-right"><b>20%</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </a>
              </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="/" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="https://i.ibb.co/2Wy9mCR/13.png" style="max-width: 60px">
                <span class="ml-2 d-none d-lg-inline text-white small">Benny Hidayat</span>
              </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- Topbar -->

        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Beranda</h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Beranda</li>
            </ol>
          </div>

          <div class="row mb-3">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Info Developer</div>
                      <br>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">Benny</div>
                      <div class="mt-2 mb-0 text-muted text-xs">
                        <span class="text-success mr-2"> Pemula Bang Jangan buly aku. Sungkem Mastah</span>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-users fa-2x text-info"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
			
<!-- Pie Chart -->
         
          <!--Row-->
<form action="/api/cekapikey">
      <div class="col-lg-6">
       <div class="card mb-4">
        <div class="card-header py-3">
         <div class="card-body">
          <h6 class="animated">Check Your Apikey</h6>
           <input type="text" class="form-control" placeholder="Your apikey" name="apikey" required="">
            <button class="btn btn-danger btn-icon-split">
             <span class="icon text-white-50">
              <i class="fas fa-check"></i>
             </span>
             <span class="text">Check</span>
            </button>
         </div>
        </div>
       </div>
          <div class="row">
            <div class="col-lg-12 text-center">
              <p>Suka Dengan API Nya ? Boleh Dong, Follow Github Gw: <a href="https://github.com/bennybotwa"
                  class="btn btn-primary btn-sm" target="_blank"><i class="fab fa-fw fa-github"></i>&nbsp;GitHub</a></p>
            </div>
          </div>

        </div>
        <!---Container Fluid-->
      </div>
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; 2021 - Developed By
              <b><a href="https://youtube.com/c/bennyhidayat" target="_blank">Benny</a></b>
            </span>
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
   <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="js/ruang-admin.js"></script>
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="js/demo/chart-area-demo.js"></script>  
</body>

</html>
